.features {
  background: $color-grey url("../img/bg/features-bg.jpg") no-repeat center;
  background-size: cover;
  padding-top: 110px;

  @include vp-1279 {
    background-image: url("../img/bg/features-bg--tablet.jpg");
    padding-top: 90px;
  }

  @include vp-767 {
    background-image: url("../img/bg/features-bg--tablet@2x.jpg");
    padding-top: 57px;
  }

  @include retina {
    @include desk {
      background-image: url("../img/bg/features-bg@2x.jpg");
    }

    @include vp-1279 {
      background-image: url("../img/bg/features-bg--tablet@2x.jpg");
    }

    @include vp-767 {
      background-image: url("../img/bg/features-bg--mobile@2x.jpg");
    }
  }
}

.features__list {
  margin: 0;
  padding: 0;
  padding-top: 24px;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;

  @include vp-1279 {
    gap: 30px;
    padding-top: 37px;
  }


  @include vp-767 {
    display: block;
    padding-top: 17px;
    max-width: 290px;
    margin: 0 auto;
  }
}

.features__item {
  background-color: $color-background-white;
  padding: 80px 30px 24px;
  position: relative;

  @include vp-1279 {
    padding: 70px 18px 20px 20px;

    br:not(.mobile-only) {
      display: none;
    }
  }


  @include vp-767 {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.features__item svg {
  display: block;
  position: absolute;
  top: 30px;
  left: 30px;

  @include vp-1279 {
    left: 20px;
  }

  @include vp-767 {
    margin-bottom: 20px;
  }
}

.features__item--sheep svg {
  width: 27px;
  height: 32px;

  @include vp-1279 {
    width: 21px;
    height: 26px;
    top: 24px;
  }
}

.features__item--inclusive svg {
  width: 38px;
  height: 21px;
  top: 35px;

  @include vp-1279 {
    width: 33px;
    height: 19px;
    left: 18px;
    top: 28px;
  }
}

.features__item--boat svg {
  width: 42px;
  height: 15px;
  top: 38px;

  @include vp-1279 {
    width: 38px;
    height: 13px;
    top: 31px;
    left: 19px;
  }
}

.features__item h3 {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 10px;


  @include vp-1279 {
    line-height: 140%;
    margin-bottom: 8px;
  }

  @include vp-767 {
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    margin: 0;
    padding: 0;
    margin-bottom: 9px;
    max-width: 200px;
  }
}

.features__item p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 143%;
}
