.form {
  background-color: $color-black-for-text;
  margin: 0 auto;
  padding: 45px 50px 50px;
  width: 100%;
  max-width: 403px;
  box-sizing: border-box;
  text-align: left;

  @include vp-767 {
    padding: 34px 30px 40px;
  }
}

.form h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: $color-background-white;
  margin: 0;
  padding: 0;
  margin-bottom: 26px;


  @include vp-767 {
    line-height: 140%;
    margin-bottom: 28px;
    text-align: center;
  }
}

.form__field {
  span,
  &--checkbox input {
    @include visually-hidden;
  }

  &:not(:last-of-type) {
    margin-bottom: 20px;
  }

  &--checkbox:not(:last-child) {
    margin-bottom: 32px;
  }

  &--checkbox label {
    padding-left: 23px;
    padding-top: 3px;
    position: relative;
  }

  &--checkbox span {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: $color-background-white;
    clip: auto;
    clip-path: none;
  }

  &--checkbox span::before {
    content: "";
    width: 10px;
    height: 6px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: url("../../img/svg/tick.svg") no-repeat center;
    display: none;
  }

  &--checkbox input:checked ~ span::before {
    display: block;
  }

  @include vp-767 {
    &--checkbox:not(:last-child) {
      margin-bottom: 26px;
    }

    &--checkbox label {
      padding-top: 0;
      padding-left: 28px;
      margin-top: -2px;
    }

    &--checkbox span {
      width: 20px;
      height: 20px;
      top: 2px;
    }
  }
}

.form label {
  display: block;
  font-weight: 400;
  font-size: 10px;
  line-height: 130%;
  color: $color-background-white;
}

.form input {
  width: 100%;
  border: none;
  padding: 11px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: $color-black-for-text;

  &::placeholder {
    color: $color-placeholder;
  }
}

.form button[type="submit"],
.form input[type="submit"] {
  min-height: 43px;
  font-size: 14px;
  line-height: 150%;
  width: 100%;
  font-weight: 600;
  background-color: $color-background-white;
  color: $color-black-for-text;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
  border: 0;
  cursor: pointer;
  transition: opacity 0.3s ease;

  @media (hover: hover),
    screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }
}
