.main-nav {
  max-width: 594px;
  flex-grow: 1;
  box-sizing: border-box;
  font-weight: 500;
  line-height: 20px;

  @include vp-1023 {
    max-width: 503px;
    padding-top: 2px;
    font-size: 14px;
    line-height: 17px;

    &--footer {
      font-size: 12px;
      line-height: 15px;
    }
  }

  @include vp-767 {
    flex-grow: 0;
    font-size: 18px;
    line-height: 22px;

    &--mobile-menu {
      padding-top: 0;
      transition: background-color 0.2s ease-out;
      z-index: 2;
      position: relative;
      max-width: none;
    }

    &--mobile-menu.no-js,
    &--mobile-menu.menu-open {
      width: 100%;
      min-height: calc(100 * var(--vh, 1vh));

      .main-nav__logo {
        display: block;
      }
    }

    &--mobile-menu.menu-open {
      position: fixed;
      top: 0;
      right: 0;
      background-color: $color-menu-mask;

      .main-nav__menu-wrapper {
        right: 0;
      }
    }

    &--mobile-menu.no-js {
      min-height: min-content;
      position: relative;

      .main-nav__menu-wrapper {
        width: 100%;
        max-width: none;
        position: relative;
        min-height: auto;
      }
    }

    &--footer {
      margin-left: 0;
      margin-right: 0;
      font-size: 12px;
      line-height: 15px;

      .main-nav__item {
        margin: 8px 0 9px;
      }

      .main-nav__link {
        color: $color-background-white;
      }
    }
  }
}

.main-nav__menu-wrapper {
  transition: right 0.2s ease-out;

  @include vp-767 {
    width: 100%;
    overflow: hidden;
    max-width: 285px;
    background: $color-background-white;
    min-height: calc(100 * var(--vh, 1vh));
    box-sizing: border-box;
    position: fixed;
    right: -100%;
    top: 0;
    bottom: 0;
    padding: 71px 25px 20px;
  }
}

.main-nav__logo {
  display: none;
  position: absolute;
  top: 20px;
  left: 15px;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  @include vp-767 {
    flex-direction: column;
    overflow: auto;
    height: 100%;
    flex-wrap: nowrap;
  }
}

.main-nav__list li {
  margin-top: 10px;
  margin-bottom: 10px;

  &:not(:last-child) {
    margin-right: 33px;
  }


  @include vp-1023 {
    &:not(:last-child) {
      margin-right: 23px;
    }
  }


  @include vp-767 {
    margin-top: 14px;
    margin-bottom: 14px;
  }
}

.main-nav__list a {
  color: $color-background-white;

  @media (hover: hover),
  screen and (min-width: 0\0) {

    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }


  @include vp-767 {
    color: $color-black-for-text;
  }
}
