.main-nav {
  max-width: 594px;
  flex-grow: 1;
  box-sizing: border-box;
  transition: width 0.2s ease-out;
  font-weight: 500;
  line-height: 20px;
}

.main-nav__logo {
  display: none;
  position: absolute;
  top: 20px;
  left: 15px;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.main-nav__item {
  margin-top: 10px;
  margin-bottom: 10px;

  &:not(:last-child) {
    margin-right: 33px;
  }
}

.main-nav__link {
  color: $color-background-white;

  &:hover,
  &:focus {
    opacity: 0.8;
  }
}

@include vp-1279 {
  .main-nav {
    max-width: 503px;
    padding-top: 2px;
    font-size: 14px;
    line-height: 17px;

    &--footer {
      font-size: 12px;
      line-height: 15px;
    }
  }

  .main-nav__item {
    &:not(:last-child) {
      margin-right: 23px;
    }
  }
}

@include vp-767 {
  .main-nav {
    flex-grow: 0;
    font-size: 18px;
    line-height: 22px;

    &--mobile-menu {
      overflow: hidden;
      width: 0;
      position: absolute;
      background: $color-background-white;
      top: 0;
      right: 0;
      min-height: 100vh;
    }

    &--footer {
      margin-left: 0;
      margin-right: 0;
      font-size: 12px;
      line-height: 15px;

      .main-nav__item {
        margin: 8px 0 9px;
      }

      .main-nav__link {
        color: $color-background-white;
      }
    }

    &.no-js {
      width: 100%;
      min-height: min-content;
      position: relative;
    }

    &.menu-open,
    &.no-js {
      padding: 71px 25px 20px;

      .main-nav__logo {
        display: block;
      }
    }

    &.menu-open {
      width: 285px;
    }
  }

  .main-nav__list {
    flex-direction: column;
  }

  .main-nav__item {
    margin-top: 14px;
    margin-bottom: 14px;
  }

  .main-nav__link {
    color: $color-black-for-text;
  }
}
