.page-footer {
  background-color: $color-black-for-text;
  padding-top: 50px;
  padding-bottom: 43px;

  @include vp-1279 {
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 40px;
  }

  @include vp-767 {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 33px;
  }
}

.page-footer__flex {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;

  @include vp-767 {
    flex-wrap: wrap;
  }
}

.page-footer__left-column {
  display: flex;
  margin-right: 70px;
  flex-grow: 1;


  @include vp-767 {
    display: block;
  }
}

.page-footer__logo {
  @include vp-1279 {
    margin-top: 10px;
  }


  @include vp-767 {
    margin-bottom: 10px;
  }
}

.page-footer__nav {
  margin-left: 40px;

  @include vp-1279 {
    margin-left: 25px;
  }


  @include vp-767 {
    margin-bottom: 17px;
  }
}

.page-footer__social {
  margin-top: 11px;


  @include vp-767 {
    margin-top: 0;
  }
}
